html, body {
	height:100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	/*background: url(../img/background.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;*/
	background-color: #1b1b1b;
}

a {
	color: inherit;
	text-decoration: inherit;
}

#logged_in_area {
	float: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.body_container {
	margin-top: 100px;
	margin-bottom:70px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	padding: 10px 0px 10px 0px;
	border: 1px solid rgba(0,0,0,0.2);
	width: 1px;
	max-width: 1000px;
	opacity:0.98;
}

.center {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	background-color:#fff;
}

.btn-class{
 cursor: pointer;
 display: inline-block;
 border:1px solid #C9AE34;
 color: #473B04;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 40px;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 text-shadow: 0 1px 0 #FFFFFF;
 background-color: #FCB830;
}
.btn-class:hover, .btn-class:active{
 border:1px solid #967D09;
 color: #705D07;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 background-color: #FCA626;
}

#tblMovies {
	margin-left: auto;
	margin-right: auto;
}

.tblMovie {
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.2);
	width: 320px;
	cursor: pointer;
}

.tblMovie:hover {
	background-color: rgba(0,0,0,0.1);
}

#map {
	width: 1000px;
	height: 600px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}


/* Rutger: */

a:focus, a:hover {
	color:#000;
}
.header {
	background-color:#1b1b1b;
	border-bottom:2px solid #fff;
}

.header .info {
	display:flex;
}

.header .logo {
	display:inline-block;
}

.header .logo {
    background-color: white;
    width: 100px;
    text-align: center;
    display: inline-block;
    height: 100px;
    border-radius: 50px;
    padding-top: 5px;
}

.header .logo img {
	width:85px;
}

.header .title {
	display:inline-block;
	position:relative;
}

.header .title h1 {
	margin-top:30px;
	margin-left:10px;
	color:#fff;
}

.content-container {
	min-height:550px;
}

.footer {
	background-color:#1b1b1b;
	border-top:2px solid #fff;
	min-height:115px;
	color:#fff;
}

.header-container {
	padding-top:20px;
	padding-bottom:20px;
}

.content {
	background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-bottom: 30px;
    padding-top: 30px;
}

.content-container {
	padding-top:20px;
	padding-bottom:20px;
	background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-container {
	padding-top:20px;
	padding-bottom:20px;
}

.footer .title {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.footer a, .footer a:hover, .footer a:active, .footer a:focus {
	color:#fff;
}

.footer .logos img {
	width:50px;
	margin-right:10px;
	margin-left:10px;
}
.footer .logos .smaller {
	width:42px;
}

.header #topbar {
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    width:auto;
    float: right;
    margin-top: 60px;
}

.slick-slide img {
	width:100%;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev {
	left:-30px;
}

.slick-prev:before {
	font-family: FontAwesome;
	content: "\f053";
}

.slick-next {
	right:-30px;
}

.slick-next:before {
	font-family: FontAwesome;
	content: "\f054";
}

.text-middle {
	text-align:center;
}

.standard-content {
	padding-top:20px;
	background-color:#fff;
	opacity: 0.96;
	padding-bottom:20px;
	border-radius:5px;
	position:relative;
	min-width: 600px;
}

.small-content {
	padding-top: 20px;
    background-color: #fff;
    opacity: 0.96;
    padding-bottom: 20px;
    border-radius: 5px;
    position: relative;
    min-width: 400px;
}

.buy-movie {
    position: absolute;
    right: 20px;
    top: 30px;
}

.single-movie .title {
	padding-bottom:30px;
}

.single-movie .movie-details .img{
	text-align:center;
}

.single-movie .movie-details .img img {
	float:none;
}

.single-movie .movie-details .text {
	text-align:left;
}

.small-frame {
	margin-top:100px;
}

.err-msg, .err-msg1 {
	min-height: 20px;
    color: red;
    margin-bottom: 10px;
}

.button, .step1 form input[type="submit"] {
	cursor: pointer;
    display: inline-block;
    border: 1px solid #C9AE34;
    color: #473B04;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Verdana;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #FCB830;
    margin-left:10px;
    margin-right:10px;
}

.small-frame .title {
	margin-bottom:20px;
}

.step1 input[type="text"]{
	width:250px;
}

.step3 .btn-class {
	width:280px;
}

.step3 .margin-left {
	margin-left:4px;
}

.movie-collection .img {

}
.movie-collection .text {
	text-align:left;
}
.movie-collection .text .title {
    min-height: 45px;
    max-height: 45px;
}
.movie-collection .text .rating {

}
.movie-collection #tblMovies td{
	border:1px solid #ccc;
	padding-top:5px;
	padding-bottom:5px;
	width:33%;
}

.login-form table {
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.login-form .error-msg {
	color:red;
	text-align:center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.login-form td {
	padding-top:10px;
	padding-bottom:10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
	text-align:center;
	font-size:20px;
	padding:5px;
}